@font-face {
  font-family: "COCOGOOSE";
  src: url("./fonts/Cocogoose-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto !important;
  background-color: #f9f9f9 !important;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
}

.nav-menu svg {
  height: 2.8em;
  width: 2em;
  fill: #545454;
}

.festival-headline p {
  margin-bottom: 0;
}

.main-header {
  background-image: url(../img/bg-geometry.png);
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.main-content {
  background-color: #22252c;
  background-image: url(../img/bg-criss-cross-blue.png);
}

.main-program {
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
}

.main-program-title-text {
  text-align: center;
}

.main-program-title-border {
  width: 12%;
  height: 1px;
  margin: auto;
  margin-top: 1em;
  background-color: #ec5242;
}

.main-program-activities {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.main-program-activity {
  width: 100%;
  margin: 0.375em 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/bg-main-program-activity.png);
}

.main-program-activity-1 {
  height: 116px;
  width: 100%;
  margin: 0.375em 0;
  display: flex;
  align-items: center;
  background-color: goldenrod;
}

.main-program-activity-text {
  margin: 0;
}

.main-program-activity-img {
  height: 40px;
  margin: 1em 0 1em 1em;
}

.cocogoose {
  font-family: "COCOGOOSE", Helvetica, Arial, sans-serif;
}

.red {
  color: #ec5242;
}

.grey {
  color: #707070;
}

.dark-grey {
  color: #595959;
}

.white {
  color: #fff;
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fs-largest {
  font-size: 34px;
}

.fs-large {
  font-size: 24px;
}

.fs-medium-lg {
  font-size: 20px;
}

.fs-medium {
  font-size: 15px;
}

.fs-small {
  font-size: 12px;
}

.border-white {
  border: 3px solid #fff;
}