@font-face {
  font-family: "COCOGOOSE";
  src: url("./fonts/Cocogoose-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto !important;
  background-color: #f9f9f9 !important;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.cocogoose {
  font-family: "COCOGOOSE", Helvetica, Arial, sans-serif;
}

.red {
  color: #ec5242;
}

.grey {
  color: #707070;
}

.dark-grey {
  color: #595959;
}

.bg-white {
  background-color: #fff;
}

.white {
  color: #fff;
}

.black {
	color: #333437;
}

.bg-criss-cross {
	background-image: url(../img/bg-criss-cross-blue.png);
}

.bg-grey {
	background-color: #f9f9f9;
}

.bg-dark-grey {
  background-color: #414246;
}

.bg-white {
	background-color: #fff;
}

.bg-red {
	background: rgb(238, 82, 60);
}

.border-white {
  border: 3px solid #fff;
}

.border-grey {
	border: 2px solid #f6f6f6;
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fs-largest {
  font-size: 34px;
}

.fs-large {
  font-size: 24px;
}

.fs-medium-lg {
  font-size: 20px;
}

.fs-medium {
  font-size: 15px;
}

.fs-small {
  font-size: 12px;
}

.ft-italic {
	font-style: italic;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
}

.nav-menu svg {
  height: 2.8em;
  width: 2em;
  fill: #545454;
}

.festival-headline p {
  margin-bottom: 0;
}

.main-header {
  background-image: url(../img/bg-geometry.png);
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.midldle-section {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}

.title-bottom-border {
  width: 12%;
  height: 1px;
  margin: auto;
  margin-top: 1em;
  background-color: #ff4f38;
}

.main-program-activities {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.main-program-activity {
  width: 100%;
  margin: 0.375em 0;
  display: flex;
	padding-top: 1em;
	padding-bottom: 1em;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/bg-main-program-activity.png);
}

.main-program-activity-text {
  margin: 0;
	padding-right: 8px;
}

.main-program-activity-img {
  height: 40px;
  margin: 1em 0 1em 1em;
}

.main-program-join {
	padding: 1em;
	margin: 0 auto;
	width: 60%;
	background-color: #ff4f38;
}

.featured-films {
	width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}

.featured-films-section {
	display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.featured-film {
	display: flex;
	margin-bottom: 3.125em;
}

.featured-film-img-container {
	padding-right: 1em;
}

.featured-film-img {
	width: 138px;
}

.featured-film-detail p {
  margin-bottom: 0;
}

.film-title-bottom-border {
  width: 10%;
  height: 1px;
	margin-top: 0.6em;
	margin-left: 2px;
  background-color: #d3d3d3;
}

.featured-films-remainder {
	display: none;
}

.featured-films-more {
	border: 2px solid #e4e4e4;
	border-radius: 3px;
	margin-bottom: 3em;
	padding: 0.8em 1em;
}

.featured-films-more--arrow {
	width: 15px;
	height: 10px;
}

.featured-film-synpsis {
	margin-top: 2em;
}

.iff-logo-container {
	margin-top: 2em;
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid #e4e4e4;
}

.iff-logo {
	height: 70px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-container {
	border-top: 2px solid #f9f9f9;
	border-bottom: 2px solid #f9f9f9;
}

.about-bottom-border {
  width: 6%;
  height: 1px;
  margin: auto;
  margin-top: 1em;
  background-color: #ff4f38;
}

.about-logo {
	margin-top: 1em;
}

.past-winners {
	width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}

.past-winners-section {
	display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.past-winner-container {
	margin: 0 auto;
	margin-bottom: 1em;
}

.past-winner-img {
	max-width: 100%;
  height: auto;
	opacity: 0.3;
}

.past-winner {
	position: relative;
}

.past-winner-overlay {
	z-index: 2;
  left: 10%;
  right: 10%;
	bottom: 40%;
	position: absolute;
	text-align: center;
}

.partners-containers {
  height: 300px;
}
